*__pycache__*
*.pyc
*.log
*.pt
*.ckpt
*.safetensors
checkpoint/
.vscode/
pre_trained
tmp/
*.tar.gz
*.out
checkpoints/
RefSegRS_Dataset/
UniGeoSeg_Intera_Dataset/
UniGeoSeg_Intera_Dataset-old/
convert.py
convert2.py
*.json
*.txt
build/
*.so
*.pyd
*.ninja
.ninja_*
__pycache__/
*.egg-info/
PKG-INFO
pretrained/